<h1>Show Performance</h1>

<ul>

  <li>
    <strong>Review:</strong>
    <%= @performance.review %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.performance_path(@conn, :edit, @performance) %></span>
<span><%= link "Back", to: Routes.performance_path(@conn, :index) %></span>
