<h1>Show Note</h1>

<ul>

  <li>
    <strong>Note:</strong>
    <%= @note.details %>
  </li>

  <li>
    <strong>Event date:</strong>
    <%= @note.event_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.note_path(@conn, :edit, @note) %></span>
<span><%= link "Back", to: Routes.note_path(@conn, :index) %></span>
