<h1>Edit Type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lookup_type_path(@conn, :update, @lookup, @type )) %>

<span><%= link "Back", to: Routes.lookup_type_path(@conn, :index, @lookup) %></span>
