<h1>Show Type</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @type.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.lookup_type_path(@conn, :edit,  @lookup, @type) %></span>
<span><%= link "Back", to: Routes.lookup_type_path(@conn, :index, @lookup) %></span>
