header, main {
      padding-left: 300px;
    }
    
    @media only screen and (max-width : 992px) {
      header, main {
        padding-left: 0;
    }     
}

.datepicker-date-display{
    background-color: gray;
}

.datepicker-table td.is-selected{
    background-color: gray;
}

.datepicker-cancel, .datepicker-done{
    color: gray;
}
.nav-wrapper{
    line-height: 100px;
}
.li-custom{
    min-width: 150px;
    border-left: 2px solid #f4f4f4;
    text-decoration: none !important;
}

.li-language{
    border-left: 2px solid #f4f4f4;
}
.li-dropdown-custom{
    border: 1px solid #f4f4f4;
}
.side-custom{
    line-height: 100px;
}
.nav-custom {
    border-bottom: 2px solid #f4f4f4;
    height: 100px;  
    margin-bottom: 10px;
}
.remove-right-padding{
    padding-right: 0px !important; 
}
.side-nav-trigger{
    line-height: 0px;
}

.small-screen-menu-triggers{
    padding-left: 10px;
    padding-right: 10px;
}
.small-screen-logo{
    font-size: 28px;
    padding-bottom: 15px;
}
.sidenav-custom{
    border-right: 2px solid #f4f4f4;
    border-top: 0px solid #f4f4f4;
    
}


.padding-collapsible-header{
    padding-left: 32px !important;
}
.padding-collapsible-body{
    padding-left: 48px !important;
}
.margin-right-icon {
    margin-top: 15px;
}

.card-register{
    border: 2px solid #f4f4f4;
}

.heading {
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-left: 5px;
    margin-top: 0px;
    
}
.logo{
    height: 100px;
    padding-top: 22px;
    border-bottom: 1px solid #f4f4f4;
}

.page{
    padding: 1em;
}

.search-row{
    margin-top: 5px;
    margin-bottom: 0px;
}


.permission-row{
    border: 1px solid rgb(165, 162, 162);
    padding: .5em;
}

.tabs .tab a{
    color:rgb(129, 126, 126);
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:rgb(129, 126, 126);
} /*Text color on hover*/


.tabs .tab a.active{
    background-color:rgb(255, 255, 255);
    color:rgb(129, 126, 126);
} /*Background and text color when a tab is active*/
.tabs .tab a.active:focus {
    background-color:rgb(255, 255, 255);
    color:rgb(129, 126, 126);
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:rgb(185, 185, 185) !important;
} /*Color of underline*/

.remove-bottom-margin{
    margin-bottom: 0px !important;
}

.margin-right{
    margin-right: 10px;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 0%;
    left: 0%;
    width: 100%;
    max-width: 100%;
    align-content: center;
    z-index: 1000;
    height: 100px;
    
  }
  .toast{
      height: 100px;
  }

  .msg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.margin-top-15 {
    margin-top: 15px;
}

.autocomplete-content {
    width: auto !important;
}

.chips.input-field.invalid {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 rgb(253, 0, 0);
}

.no-padding{
    padding: 0px;
}

.note-title {
    font-size: 20px !important;
}






