
  
<div class="row page">
  <div class="col s12">
    <div class="section heading">
      <h5 class="heading grey-text lighten-2">Edit Role</h5>
    </div>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12">
        <%= render "form.html", Map.put(assigns, :action, Routes.role_path(@conn, :update, @role)) %>
    </div>
  </div>
</div>





