<h1>Show Profile</h1>

<ul>

  <li>
    <strong>Firstname:</strong>
    <%= @user.firstname %>
  </li>

  <li>
    <strong>Lastname:</strong>
    <%= @user.lastname %>
  </li>

  <li>
    <strong>Mobile:</strong>
    <%= @user.mobile %>
  </li>

  <li>
    <strong>Timezone:</strong>
    <%= @user.timezone %>
  </li>

  <li>
    <strong>Complete:</strong>
    <%= @user.complete %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.org_user_path(@conn, :edit, @user) %></span>

