<h1>Edit Address</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.people_address_path(@conn, :update, @person, @address)) %>

<span><%= link "Back", to: Routes.people_address_path(@conn, :index, @person) %></span>
